<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Many Summers</title>
  </head>
  <body>
    <h1>
      All The Versions of Summer Smith In The TV Show <em>Rick and Morty</em>
    </h1>
    <div>
      <% summers.forEach((summer) => {%>
      <h3><%= summer.name %></h3>
      <h5>Origin: <%= summer.origin.name %></h5>
      <h5>Status: <%= summer.status %></h5>
      <img src="<%= summer.image %>" />
      <% }) %>
    </div>
  </body>
</html>
