<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Our first EJS!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="/stylesheets/style.css">
       
      </head>
      <body>
        <img src="/noble.jpg"/>
        <h1>Noble Desktop</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">Teachers</a></li>
            <li><a href="/students">Students</a></li>
        </ul>
        <h3>
            Best tech education class in the world. Sign up now to further your education!
        </h3>
      </body>
</html>
